LifeExpflow.json
[{"id":"28ccc310.f2bfcc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4e141874.f0d1f8","type":"ui_form","z":"28ccc310.f2bfcc","name":"","label":"","group":"ace84096.671ad","order":1,"width":0,"height":0,"options":[{"label":"Alcohol Consumption (in litres of pure alcohol)","value":"a","type":"number","required":true,"rows":null},{"label":"% Expenditure on health","value":"b","type":"number","required":true,"rows":null},{"label":"Ever Had Hepatitis B ?","value":"c","type":"switch","required":true,"rows":null},{"label":"BMI","value":"d","type":"number","required":true,"rows":null},{"label":"Polio\t","value":"e","type":"switch","required":true,"rows":null},{"label":"Diphtheria","value":"f","type":"switch","required":true,"rows":null},{"label":"HIV/AIDS","value":"g","type":"switch","required":true,"rows":null},{"label":"Population of Your Country (complete value)","value":"h","type":"number","required":true,"rows":null},{"label":"GDP of Your country (complete value)","value":"gdp","type":"number","required":true,"rows":null},{"label":"Are you VERY Thin?","value":"i","type":"switch","required":true,"rows":null},{"label":"Number of years of Schooling","value":"j","type":"number","required":true,"rows":null},{"label":"Income composition ( 0 to 1)","value":"k","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":false,"d":"","e":false,"f":false,"g":false,"h":"","gdp":"","i":false,"j":"","k":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":340,"wires":[["6bdcf743.a4c738","d3c4315f.b5d62"]]},{"id":"6bdcf743.a4c738","type":"function","z":"28ccc310.f2bfcc","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"gdp\",msg.payload.gdp);\n//following are required to receive a token\nvar apikey=\"VroV2wwlrqW9tQl-2v2dveXXR3lvEZJvNClIyX-Xfoy8\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":200,"wires":[["fcf416b4.066d58"]]},{"id":"845305c.1355ef8","type":"http request","z":"28ccc310.f2bfcc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/94cb1802-512d-4244-a010-e5714229dd3a/deployments/32e08382-1449-499a-a1f2-736c941f8401/online","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":200,"wires":[["161af8a4.665337","5abe7657.bf8cf8"]]},{"id":"15787aee.ad9ff5","type":"debug","z":"28ccc310.f2bfcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":40,"wires":[]},{"id":"5abe7657.bf8cf8","type":"function","z":"28ccc310.f2bfcc","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":120,"wires":[["15787aee.ad9ff5","afa375c7.c0edf8"]]},{"id":"161af8a4.665337","type":"debug","z":"28ccc310.f2bfcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":340,"wires":[]},{"id":"b0ef0df8.e65ba","type":"function","z":"28ccc310.f2bfcc","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"94cb1802-512d-4244-a010-e5714229dd3a\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar gdp = global.get(\"gdp\");\nvar hep=0;\nvar pol=99;\nvar dip=99;\nvar hiv=0;\nvar thin=0;\nif(c===true){ //Hepatities B immunization\n    hep=1;\n}\n\n\n\nif(e===true){ // Polio immunization\n    pol=3;\n}\n\nif (f===true){ // diphthera immunization\n    dip=2;\n}\n\nif(g===true){ //hiv deaths per thousand\n    hiv=0.1;\n}\n\nif(i===true){ //thinness %\n    thin=27.7;\n}\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Adult Mortality',\n       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',\n        ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',\n       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',\n       ' thinness  1-19 years', \n       'Income composition of resources', 'Schooling'],\n\"values\":[[142,29,a,b,hep,d,39,pol,1.28,dip,hiv,gdp,h,thin,k,j]]};\n//WHO:Globally, adult mortality rate was 142 per 1000 population in 2016.\n//WHO:29 deaths per 1000 live births in 2017\n//WHO:39 deaths per 1000 live births in 2018.\n//India's current budget on health resourses=1.28% of GDP\n//HIV mean deaths\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":280,"wires":[["845305c.1355ef8","62687b04.65a874"]]},{"id":"fcf416b4.066d58","type":"http request","z":"28ccc310.f2bfcc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":100,"wires":[["b0ef0df8.e65ba"]]},{"id":"afa375c7.c0edf8","type":"ui_text","z":"28ccc310.f2bfcc","group":"ace84096.671ad","order":2,"width":0,"height":0,"name":"","label":"Predicted Life Span","format":"{{msg.payload}} Years","layout":"col-center","x":790,"y":220,"wires":[]},{"id":"d3c4315f.b5d62","type":"debug","z":"28ccc310.f2bfcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":220,"y":480,"wires":[]},{"id":"62687b04.65a874","type":"debug","z":"28ccc310.f2bfcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":380,"wires":[]},{"id":"ace84096.671ad","type":"ui_group","z":"","name":"Life Expectancy","tab":"e8e0aeda.95632","order":2,"disp":true,"width":"6","collapse":false},{"id":"e8e0aeda.95632","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]